/*@tailwind base;
@tailwind components;*/

.visible {
  visibility: visible
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.right-0 {
  right: 0px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.table {
  display: table
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.max-w-\[1200px\] {
  max-width: 1200px
}

.flex-1 {
  flex: 1 1 0%
}

.shrink-0 {
  flex-shrink: 0
}

.resize {
  resize: both
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.content-between {
  align-content: space-between
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-4 {
  gap: 1rem
}

.border {
  border-width: 1px
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width: 640px) {
  .sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem
  }
}

@media (min-width: 768px) {
  .md\:block {
    display: block
  }

  .md\:hidden {
    display: none
  }
}

@media (min-width: 1024px) {
  .lg\:relative {
    position: relative
  }

  .lg\:block {
    display: block
  }

  .lg\:hidden {
    display: none
  }

  .lg\:w-\[200px\] {
    width: 200px
  }

  .lg\:flex-row {
    flex-direction: row
  }
}

@media (min-width: 1280px) {
  .xl\:gap-8 {
    gap: 2rem
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px
  }
}
