<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render section="HeaderSection" />
<div class="container mx-auto max-w-[1200px] px-2 sm:px-4 xl:px-0">
  <div class="flex flex-col gap-4 xl:gap-8 lg:flex-row">
    <div class="sidebar sidebar--left lg:w-[200px] shrink-0">
      <f:render section="LeftSidebarContent"/>
    </div>
    <div class="main flex-1">
      <f:render section="MainContent"/>
    </div>
    <div class="sidebar sidebar--right lg:w-[200px] shrink-0">
      <f:render section="RightSidebarContent"/>
    </div>
  </div>
</div>
<f:render section="FooterSection" />
</html>
